body {
    background-color: darkred;
    border-style: hidden;

    
}


h1 {
    color: beige;
    border: 0cap;
}

h2 {
    color: beige;
    border: 0cap;
}

h3 {
    color: beige;
    border: 0cap;
}

ul {
    color: beige;
    border: 0cap;
}

a {
    color: beige;
    border: 0cap;
}